.navbar {
    display: flex;
    width: 100%;
    padding: 10px;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
  }
.navItem {
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
  }

.navItem:hover{
    background-color: black;
    color: red;
}

.registerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

.navRegistration {
  font-size: 20px;
  color: aquamarine;
}
  
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    font-size: 26px;
    color: black;
    padding: 19px 24px; 
    border-radius: 200px 20px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}
  
.h2 {
    font-size: 30px;
    color: red;
}
  
.registerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    margin: 50px;
    font-size: 30px;
    border: 1px solid black;
    border-radius:  140px 20px;
    gap: 50px;
}
  
.registerForm:hover {
    background: #00D4FF;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(0, 0, 0, 1) 51%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 15px 10px 20px 25px red;

}
  
.button {
    width: 100%;
    border: none;
    font-size: 25px;
    padding: 19px 24px;
    color: red;
    cursor: pointer;
    border-radius:  140px 20px;;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
.button:hover {
    background-color: aqua;
    color: black;
}